:root {
    --body:#000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#contenedor-principal.active  {
    background: #000000 !important;
    transition: 1s ease;
}

html,
body {
    background-color: var(--body);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    color: #ff0000;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    color: #ffffff;
    font-size: 2.1rem !important;
    padding: 0.8rem;
    border-radius: 0.7rem;
    font-weight: bold;
}

@media (max-width: 800px){
    .swiper-button-prev::after,
    .swiper-button-next::after {
    display: none;
}
}
