:root {
    --body:#000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#contenedor-principal.active  {
    background: #000000 !important;
}

html,
body {
    background-color: var(--body);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    color: #ffffff;
    font-size: 2.1rem !important;
    background-color: rgba(0,0,0,0.9);
    padding: 0.8rem;
    border-radius: 0.7rem;
}
