.contenedor {
    width: 100%;
    padding: 1.1rem 0rem; 
}

.slider {
    border-radius: 0.9rem;
    width: 90%;
    height: 330px;
}

.imagen {
    border-radius: 0.9rem;
    width: 100%;
    height: 78%;
    position: relative;
    user-select: none;
}
.slider p {
    width: 100%;
    height: 22%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    padding-top: 0.6rem;
 }
.imagen:hover::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.presentacion {
    color: #ffffff;
    padding: 1rem 4.6rem;
    font-weight: bold;
}


@media(max-width: 800px){
    .presentacion {
        padding: 1.3rem ;
        font-weight: bold;
        font-size: 1.2rem;
    }
}
