:root {
    --letras: rgba(255,255,255,1);
}

.contenedor {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1.6rem 4.6rem;
    z-index: 10001;
    position: fixed;
    left: 0;
    top: 0;
}

.contenedor_logo h5 {
    color: var(--letras);
    font-size: 1.6rem;
    font-weight: bold;
}
.contenedor_logo i {
    color: #ff0000;
}


.contenedor_menus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--letras);
}

.contenedor_menus .actives {

    border-bottom: 4px solid #ff0000;
}

ul.contenedor_menus .btn {
    display: none;
}


@media (max-width: 800px){

    .contenedor {
        padding:1.1rem;
    }

    ul.contenedor_menus li {
        display: none;
    }
    ul.contenedor_menus .btn {
        display: block;
    
    }
    ul.responsive {
        font-size: 1.2rem;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #111111;
        color: #ffffff;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        transition: .6s ease ;
    }

    ul.responsive .btn ,
    ul.contenedor_menus .btn {
        position: fixed;
        right: 4%;
        top: 2.1%;
    }
    .contenedor_logo h5 {
        font-size: 1.4rem;
    }

}
