
.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.slider1 {
    width: 100%;
    height: 100%;
}

.caja_slider {
    width: 100%;
    height: 100vh;
    background-size: cover;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4.6rem;
}

.caja_slider::after {
    content: '';
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, 
    rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%,  rgba(0,0,0,0.5) 100%);
} 

.caja_slider h1  {
    z-index: 999;
    font-size: 3.8rem;
    font-weight: bold;
}

.img_sliders {
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    user-select: none;
}

.contenedor_22 {
    width: 90%; 
    height: 410px;
}


@media (max-width: 800px){
    .caja_slider h1 {
        font-size: 2rem;
    }
    .caja_slider {
        padding-left: 1.3rem;
        background-position: center center;
    }
}
